@model IEnumerable<ProyectoP.Web.Models.Comment>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "IndexClientMan";
}
    <div class="container espacio">
        <h2>Comentarios de perfumes de hombres</h2>

        @foreach (var item in Model)
        {
            if (item.Perfume.Gender == "Hombre")
            {
    <div class="row justify-content-center m-5">
        <div class="card border-dark" style="border-radius:5px; width:60%">
            <div style="font-size:20px; background-color:lightgrey">
                <h4>@item.Usuario</h4>
                <label><strong>@item.Perfume.Name</strong></label>
            </div>

            <div class="justify-content-around" style="font-size:20px;">
                @item.Coment
            </div>
        </div>
    </div>
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            <form action="@Url.Action("CreateClientMan","Comments")" method="post">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Comment</h4>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" name="Usuario" value="@User.Identity.GetUserName()" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-6">Comentario</label>
                        <div class="col-md-10">
                            <input type="text" name="Coment" value="com" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label col-md-2">Producto</label>
                            <div class="col-md-10">
                                <select name="PerfumeId" class="form-control">
                                    <option selected disabled>Elige un producto</option>
                                    @foreach (var item in ViewBag.PerfumeId)
                                    {
                                        if (item.Gender == "Hombre")
                                        {
                                            <option value="@item.id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        }

</div>