<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/Site.css">

    <title>@ViewBag.Title - EAU DE ROSE</title>

    @Styles.Render("~/Content/css")

</head>

<body>
    <nav class="fixed-top">
        <div class="curve">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item cha">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-light">Inicio</a>
                </li>
                <li class="nav-item cha">
                    <a href="@Url.Action("About", "Home")" class="btn btn-outline-light">Acerca de</a>
                </li>
                <li class="nav-item cha">
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-outline-light">Contacto</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item cha">
                        <a href="@Url.Action("Index", "Perfumes")" class="btn btn-outline-light">Perfumes</a>
                    </li>
                    <li class="nav-item cha">
                        <a href="@Url.Action("Index", "Marcas")" class="btn btn-outline-light">Marcas</a>
                    </li>
                    <li class="nav-item cha">
                        <a href="@Url.Action("Index", "Comments")" class="btn btn-outline-light">Comentarios</a>
                    </li>

                }

                <li class="nav-item cha">
                    <a href="@Url.Action("IndexMan", "Perfumes")" class="btn btn-outline-light">Hombres</a>
                </li>
                <li class="nav-item cha">
                    <a href="@Url.Action("IndexFemale", "Perfumes")" class="btn btn-outline-light">Mujeres</a>
                </li>

                <li class="nav-item cha">
                    <a href="@Url.Action("Politica", "Home")" class="btn btn-outline-light">Politica</a>
                </li>
                <span class="navbar-text">
                    @Html.Partial("_LoginPartial")
                </span>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />
        <div class="container body-content">
            <footer class="page-footer font-small teal pt-4">
                <div class="container-fluid text-center text-md-left">
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <h5 class="text-uppercase font-weight-bold titulos">Privacidad</h5>
                            <p class="centrado">
                                Todos los contenidos de este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo) están sujetos a derechos de propiedad por las leyes de Derechos de Autor y demás Leyes relativas Internacionales a "EAU DE ROSE" y de terceros titulares de los mismos que han autorizado debidamente su inclusión.
                            </p>
                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-6 mb-md-0 mb-3">
                            <h5 class="text-uppercase font-weight-bold titulos">EAU DE ROSE</h5>
                            <center>
                                <img src="~/Content/img/logo-removebg-preview.png" class="logo" alt="Descripción de la imagen">
                            </center>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center py-3">
                    © 2020 Copyright: EAU DE ROSE
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>




@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)*@